@font-face {
  font-family: "Revalia";
  src: url(../fonts/Revalia-Regular.ttf);
}

:root {
  --accent_color: #34547a;
  --silver_color: #eeeff1;
  --width-1920: 1920px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e5e5;
}

.sample-h2 {
  text-align: center;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
  line-height: 1.67em;
}

.sample-p {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.08em;
  color: #727272;
}

.block_ctm {
  max-width: var(--width-1920);
  margin: 0 auto;
  background-color: #e5e5e5;
}

.container_ctm {
  max-width: 1150px;
  margin: 0 auto;
}

/* first-screen */
.first-screen_ctm .block_ctm {
  background-color: var(--silver_color);
  padding-bottom: 147px;
}

.first-screen_ctm__menu-flex {
  display: flex;
}

.first-screen_ctm__menu-logo {
  padding-top: 42px;
  padding-left: 23px;
  padding-right: 402px;
  font-family: "Revalia", sans-serif;
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
  color: #34547a;
}

.first-screen_ctm__menu {
  padding-top: 68px;
  display: flex;
  font-family: "Roboto";
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.67em;
  letter-spacing: 0.1em;
}

.first-screen_ctm__menu-a {
  color: #000;
  text-decoration: none;
  white-space: nowrap;

}

.first-screen_ctm__menu-a:hover {
  cursor: pointer;
  color: var(--accent_color);
}

.first-screen_ctm__menu a {
  padding-right: 42px;
}

.first-screen_ctm__menu a:last-child {
  padding-right: 0;
}

.first-screen_ctm__contents-flex {
  display: flex;
  padding-top: 124px;
  padding-left: 101px;
}

.container_ctm-img img {
  max-width: 357px;
  padding-top: 32px;
  margin-right: 131px;
}

.first-screen_ctm__content h1 {
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
  line-height: 1.67em;
}

.first-screen_ctm__content p {
  padding-top: 30px;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #727272;
}

.first-screen_ctm__content button {
  width: 225px;
  height: 65px;
  margin-top: 54px;
  background-color: #34547a;
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.64em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.about-me_ctm h2 {
  padding-top: 109px;
}

.about-me_ctm p {
  padding-top: 32px;
  padding-bottom: 94px;
  text-align: center;
  max-width: 630px;
  margin: 0 auto;
}

/* Numbers */
.numbers_ctm .block_ctm {
  background-color: var(--accent_color);
}

.numbers__grid_ctm {
  padding-left: 21px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.numbers__img_ctm {
  padding-top: 101px;
  padding-bottom: 100px;
}

/* skills */
.skills__flex_ctm {
  padding-top: 102px;
  display: flex;
  justify-content: space-between;
}

.skills__list_ctm {
  max-width: 445px;
  width: 100%;
}

.skills__h2_ctm {
  font-weight: 600;
  padding-top: 94px;
  padding-bottom: 32px;
  text-align: left;
}

.skills__progress_ctm {
  padding-bottom: 14px;
}

.skills__progress_ctm p {
  letter-spacing: 0.001em;
  padding-bottom: 4px;
}

.skills_ctm__portrait-img {
  max-width: 555px;
  width: 100%;
  padding-bottom: 101px;
}

.skills__progress_ctm .progress {
  max-width: 445px;
  width: 100%;
  background-color: #c4c4c4;
}

.skills__progress_ctm .determinate {
  background-color: var(--accent_color);
}

/* video_ctm */
.video_ctm .block_ctm {
  background-color: var(--silver_color);
  padding-bottom: 100px;
}

.video_ctm__title {
  padding-top: 92px;
  max-width: 540px;
  margin: 0 auto;
}

.video_ctm__title .sample-h2 {
  padding-bottom: 32px;
}

.video_ctm .sample-p {
  padding-bottom: 52px;
}

.video_ctm__video-container {
  max-width: 1110px;
  margin: 0 auto;
  width: 100%;
}

.video_ctm__video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* или contain — смотри ниже */
}

/* projects */
.projects_ctm {
  padding-top: 28px;
}

.projects_ctm__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.projects_ctm__grid-item {
  max-width: 480px;
}

.materialboxed {
  cursor: url(../img/Eye_cursor.png), zoom-in;
}

.materialboxed.active {
  cursor: -webkit-zoom-out;
  cursor: url(../img/Eye_cursor.png), zoom-out;
}

.image-wrapper {
  position: relative;
  display: block;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(52, 84, 122, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.image-wrapper:hover::before {
  opacity: 1;
}

/* clients */
.clients_ctm__grid {
  padding-top: 72px;
  padding-left: 15px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
}

/* form */
.form_ctm .block_ctm {
  background-color: var(--silver_color);
}

.form_ctm__inner {
  max-width: 540px;
  margin: 0 auto;
  padding-bottom: 98px;
}

.form_ctm .sample-h2 {
  padding-top: 93px;
}

.form_ctm__inner .sample-p {
  padding-top: 33px;
  line-height: 26px;
  letter-spacing: 0.001em;
  text-align: center;
}

.form_ctm__input-grid {
  padding-top: 60px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

#name,
#email,
#message {
  background-color: #fff;
  border: none;
  padding-left: 19px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}

#name::placeholder,
#email::placeholder,
#message::placeholder {
  color: #5f5d5d;
  font-size: 14px;
  letter-spacing: 0.0001em;
}

#message {
  height: 175px;
  padding: 13px 19px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 43px;
}

.form_ctm__inner button {
  display: block;
  margin: 0 auto;
  width: 190px;
  height: 55px;
  background-color: var(--accent_color);
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.6em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* footer */
.footer_ctm .block_ctm {
  background-color: var(--accent_color);
}

.footer_ctm_flex {
  display: flex;
  justify-content: center;
}

.footer_ctm__text {
  margin-right: 739px;
}

.footer_ctm__text-h3,
.footer_ctm__text-p {
  padding-left: 15px;
  color: #fff;
}

.footer_ctm__text-h3 {
  padding-top: 50px;
  font-family: "Roboto";
  font-size: 20px;
}

.footer_ctm__text-p {
  padding-top: 13px;
  margin-bottom: 50px;
}

.footer_ctm-grid {
  padding-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

@media screen and (max-width: 1320px) {
  .block_ctm {
    padding: 0 15px;
  }
  .container_ctm {
    padding: 0 15px;
  }
  .first-screen_ctm .block_ctm {
    padding-bottom: 50px;
  }
  .first-screen_ctm__contents-flex {
    padding-left: 0;
    justify-content: center;
  }
  .first-screen_ctm__contents-flex {
    padding-top: 50px;
    justify-content: space-between;
  }
  .about-me_ctm h2 {
    padding-top: 50px;
  }
  .about-me_ctm p {
    padding-top: 25px;
    padding-bottom: 50px;
  }
  .numbers__img_ctm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .skills__flex_ctm {
    padding-top: 50px;
  }
  .skills__h2_ctm {
    padding-top: 50px;
  }
  .skills_ctm__portrait-img {
    padding-bottom: 50px;
  }
  .video_ctm .block_ctm {
    padding-bottom: 50px;
  }
  .video_ctm__title {
    padding-top: 50px;
  }
  .clients_ctm__grid {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .form_ctm__inner {
    padding-bottom: 50px;
  }
  .form_ctm .sample-h2 {
    padding-top: 50px;
  }
  .footer_ctm__text-h3 {
    padding-top: 25px;
  }
  .footer_ctm__text-p {
    margin-bottom: 25px;
  }
  .footer_ctm-grid {
    padding-top: 0;
    align-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .first-screen_ctm__menu-logo {
    padding-right: 0;
  }

  .first-screen_ctm__menu-flex {
    justify-content: space-between;
  }

  .numbers__grid_ctm {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2, 1fr;
    gap: 10px;
  }

  .numbers__img_ctm {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
  }
  .footer_ctm_flex {
    justify-content: space-between;
  }
  .footer_ctm__text {
    margin-right: 0;
  }
  .footer_ctm-grid {
    padding-top: 0px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 1034px) {
  .skills__flex_ctm {
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills__h2_ctm {
    padding-top: 0px;
    text-align: center;
  }
  .skills_ctm__portrait-img {
    padding-top: 36px;
  }
}

@media screen and (max-width: 992px) {
  .first-screen_ctm__menu-logo {
    padding-right: 3px;
  }
}

@media screen and (max-width: 790px) {
  .first-screen_ctm__menu-flex {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .first-screen_ctm__contents-flex {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }

  .container_ctm-img img {
    max-width: 357px;
    padding-top: 32px;
    margin: 0 auto;
  }

  .first-screen_ctm__content {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .first-screen_ctm__content button {
    margin-bottom: 50px;
  }

  .about-me_ctm h2 {
    padding-top: 50px;
  }

  .about-me_ctm p {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .numbers__grid_ctm {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3, 1fr;
    gap: 25px;
  }
}

@media screen and (max-width: 630px) {
  .first-screen_ctm__menu {
    font-size: 14px;
  }
}

@media screen and (max-width: 570px) {
  .first-screen_ctm__menu {
    padding-top: 25px;
    font-size: 14px;
  }
  .first-screen_ctm__menu a {
    padding-right: 15px;
    align-self: center;
    text-align: center;

  }
  .first-screen_ctm__menu-logo {
    padding-top: 25px;
  }

}

@media screen and (max-width: 470px) {
  .first-screen_ctm__menu {
    padding-top: 25px;
    font-size: 14px;
  }
  .first-screen_ctm__contents-flex {
    padding-top: 25px;
  }
  .first-screen_ctm__menu a {
    padding-right: 15px;
    align-self: center;
    text-align: center;

  }
  .first-screen_ctm__contents-flex {
    padding-top: 0;
  }
  .first-screen_ctm__content{
    padding-top: 25px;
  }
  .first-screen_ctm__content h1 {
    font-size: 40px;
  }
  .first-screen_ctm__content p {
    padding-top: 15px;
  }
  .first-screen_ctm__content button {
    margin-top: 25px;
    margin-bottom: 0;
  }
  .first-screen_ctm .block_ctm {
    background-color: var(--silver_color);
    padding-bottom: 25px;
  }
  .about-me_ctm h2 {
    padding-top: 25px;
  }
  .about-me_ctm p {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .skills__flex_ctm {
    padding-top: 25px;
    }
  .skills__h2_ctm {
    padding-bottom: 15px;
  }
  .skills_ctm__portrait-img {
    padding: 25px 0;
  }
  .video_ctm__title {
    padding-top: 25px;
  }
  .video_ctm__title .sample-h2 {
    padding-bottom: 15px;
  }
  .video_ctm__title .sample-p {
    padding-bottom: 15px;
  }
  .video_ctm .block_ctm {
    padding-bottom: 25px;
  }
  .clients_ctm__grid {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .form_ctm .sample-h2 {
    padding-top: 25px;
  }
  .form_ctm .sample-p {
    padding-top: 15px;
  }
  .form_ctm__input-grid {
    padding-top: 25px;
  }
  #message {
    margin-bottom: 25px;
  }
  .form_ctm__inner {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 460px) {
  .first-screen_ctm__menu {
    font-size: 12px;
  }
  .first-screen_ctm__menu a {
    padding-right: 10px;
  }
  .skills__list_ctm {
    max-width: 445px;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .first-screen_ctm__content h1 {
    font-size: 35px;
  }
  .skills__list_ctm {
    max-width: 445px;
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .first-screen_ctm__menu {
    font-size: 10px;
  }
  .first-screen_ctm__menu a {
    padding-right: 7px;
  }
  .first-screen_ctm__content h1 {
    font-size: 35px;
  }
  .skills__list_ctm {
    max-width: 445px;
    width: 100%;
  }
}

@media screen and (max-width: 330px) {
  .first-screen_ctm__content h1 {
    font-size: 30px;
  }
}