@font-face {
    font-family: "Revalia";
    src: url(../fonts/Revalia-Regular.ttf);
}

:root {
    --accent_color: #34547A;
    --silver_color: #EEEFF1;
    --width-1920: 1920px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
body {
    background-color: #E5E5E5;
}

.sample-h2 {
    text-align: center;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.67em;
}

.sample-p {
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.08em;
    color: #727272;
}

.block_ctm {
    max-width: var(--width-1920);
    margin: 0 auto;
    background-color: #E5E5E5;

}
.container_ctm {
    max-width: 1150px;
    margin: 0 auto;

}

/* first-screen */
.first-screen_ctm {
}
.first-screen_ctm .block_ctm {
    background-color: var(--silver_color);
}

.first-screen_ctm__menu-flex {
    display: flex;
}
.first-screen_ctm__menu-logo {
    padding-top: 42px;
    padding-left: 23px;
    padding-right: 402px;
    font-family: "Revalia", sans-serif;
    font-size: 48px;
    font-weight: normal;
    text-transform: uppercase;
    color: #34547A;
}
.first-screen_ctm__menu {
    padding-top: 68px;
    display: flex;
    font-family: "Roboto";
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.67em;
    letter-spacing: 0.1em;

}
.first-screen_ctm__menu-a{
    color: #000;
    text-decoration: none;
}
.first-screen_ctm__menu-a:hover {
    cursor: pointer;
    color: var(--accent_color);
    }
.first-screen_ctm__menu a {
    padding-right: 42px;
}
.first-screen_ctm__menu a:last-child {
    padding-right: 0;
}
.first-screen_ctm__contents-flex {
    display: flex;
    padding-top: 124px;
    padding-left: 101px;
}
.container_ctm-img img{
    max-width: 357px;
    padding-top: 32px;
    margin-right: 131px;
    }
.first-screen_ctm__content {
}
.first-screen_ctm__content h1 {
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 700;
    line-height: 1.67em;
}
.first-screen_ctm__content p {
    padding-top: 36px;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #727272;
}
.first-screen_ctm__content button {
    width: 225px;
    height: 65px;
    margin-top: 54px;
    margin-bottom: 146px;
    background-color: #34547A;
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.64em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}

.about-me_ctm {

}
.about-me_ctm h2 {
    padding-top: 109px;
}

.about-me_ctm p {
    padding-top: 32px;
    padding-bottom: 94px;
    text-align: center;
    max-width: 630px;
    margin: 0 auto;
}

/* Numbers */
.numbers_ctm {
}
.numbers_ctm .block_ctm {
    background-color: var(--accent_color);
}
.numbers__grid_ctm {
    padding-left: 21px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
.numbers__item_ctm {
}
.numbers__img_ctm {
    padding-top: 101px;
    padding-bottom: 100px;
}

/* skills */
.skills_ctm {
}
.skills__flex_ctm {
    padding-top: 102px;
    display: flex;
    justify-content: space-between;

}
.skills__list_ctm {
    max-width: 445px;

}
.skills__h2_ctm {
    font-weight: 600;
    padding-top: 94px;
    padding-bottom: 32px;
    text-align: left;
}
.skills__list_ctm-items {
}
.skills__progress_ctm {
    padding-bottom: 14px;
}
.skills__progress_ctm p{
    letter-spacing: 0.001em;
    padding-bottom: 4px;
}
.skills_ctm__portrait {
}
.skills_ctm__portrait-img {
    max-width: 555px;
    padding-bottom: 101px;
}
.skills__progress_ctm .progress {
    width: 445px;
    background-color: #C4C4C4;
}
.skills__progress_ctm .determinate {
    background-color: var(--accent_color);
}

/* video_ctm */
.video_ctm {


}
.video_ctm .block_ctm {
    background-color: var(--silver_color);
    padding-bottom: 100px;
}
.video_ctm__title {
    padding-top: 92px;
    max-width: 540px;
    margin: 0 auto;
}
.video_ctm__title .sample-h2 {
    padding-bottom: 32px;
}
.sample-p {
    padding-bottom: 52px;
}
.video_ctm__video-container {
    max-width: 1110px;
    height: 600px;
    margin: 0 auto;
    width: 100%;

}
.video_ctm__video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* или contain — смотри ниже */
}

/* projects */
.projects_ctm {
    padding-top: 28px;
}
.projects_ctm__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.projects_ctm__grid-item {
    max-width: 480px;
}
.materialboxed {
    cursor: url(../img/Eye_cursor.png), zoom-in;

}
.materialboxed.active {
    cursor: -webkit-zoom-out;
    cursor: url(../img/Eye_cursor.png), zoom-out;
}
.image-wrapper {
    position: relative;
    display: block;
}
.image-wrapper::before {
    content: "";
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(52, 84, 122, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}
.image-wrapper:hover::before {
    opacity: 1;
}





@media screen and (max-width: 1320px) {
    .block_ctm {
        padding: 0 15px;
    }
    .first-screen_ctm__contents-flex {
        padding-left: 0;
        justify-content: center;
        /* padding-left: 50px; */
    }
}

@media screen and (max-width: 1200px) {
    .first-screen_ctm__menu-logo {
    padding-right: 0;
}
    .first-screen_ctm__menu-flex {
        justify-content: space-between;
    }
    .numbers__grid_ctm {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2, 1fr;
    gap: 25px;
    }
    .numbers__img_ctm {
    padding-top: 25px;
    padding-bottom: 25px;

    }
}

@media screen and (max-width: 992px) {
    .first-screen_ctm__menu-logo {
        padding-right: 3px;
    }
}

@media screen and (max-width: 768px) {
    .first-screen_ctm__menu-flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .first-screen_ctm__contents-flex {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;

    }
    .container_ctm-img img {
        max-width: 357px;
        padding-top: 32px;
        margin: 0 auto;
    }
    .first-screen_ctm__content {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .first-screen_ctm__content button {
        margin-bottom: 50px;
    }
    .about-me_ctm h2 {
    padding-top: 50px;
    }
    .about-me_ctm p {
    padding-top: 25px;
    padding-bottom: 50px;
    }
    .numbers__grid_ctm {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3, 1fr;
    gap: 25px;
    }
}